/*flexbox layout*/
.flex-container1 {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 200px;
}

/*navigation bar*/
.navbar {
  background-color: white;
  height: 10px;
  padding-top: 10px;
  text-align: right;
}

/*background*/
body {
  background-color: rgb(255, 255, 255);
}

/*hyperlinks in navigation bar*/
.linknavbar {
  color: darkslategrey;
  text-decoration: none;
  padding:15px;
  font-family: monaco;
  font-weight: bold;
}

/*hyperlinks in body of page */
a {
  color: darkslategrey;
  text-decoration: none;
  font-family: monaco;
  font-weight: bold;
}
a:hover {
  color: orange;
  font-weight: bold;
}

/*global settings*/
* {
  margin: 0;
}

/*lists*/
ul {
  list-style-type: none;
}

/*images*/
img {
  width: 90%;
}

.image-moving-profile-pic {
  width: 25%;
  float:left;
  padding-left: 30px;
  padding-right: 30px;
}

/*text*/
#landing-page {
  text-align: left;
  font-family: monaco;
  font-size:25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#engaging-faith-communities {
  text-align: left;
  font-size:25px;
  color: black;
  font-family: monaco;
  padding: 50px;
}

#public-sector-equality-duty {
  text-align: left;
  font-size:25px;
  color: black;
  font-family: monaco;
  padding: 50px;
}

#cv {
  text-align: left;
  font-size:25px;
  color: black;
  font-family: monaco;
  padding: 50px;
}

h2 {
  font-weight:normal;
}

h3 {
  font-size:25px;
  font-weight:normal;
}

/* Prevents ul "stepdown" */
ul {
  display: inline; 
}

/* Create arrow shape */
#flashing-arrow {
  position: absolute;
  bottom: 10px; /* Adjust this value based on where you want the arrow to appear */
  left: 50%;
  margin-left: -20px; /* Half of the width to center the arrow */
  width: 40px;
  height: 40px;
  border-bottom: 3px solid rgb(245, 107, 107);
  border-right: 3px solid rgb(226, 79, 79);
  transform: rotate(45deg);
  animation: flash 2s infinite;
}

/* Create flashing animation */
@keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* Improve paragraph spacing */
p {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

/* Spacing around hyperlinks */
a {
  margin: 0 0.3em;
  padding: 0.2em 0.4em;
}

/* To ensure that the spacing is not affected when the hyperlink is in a list or a paragraph */
p a, li a {
  margin: 0;
  padding: 0;
}

/* General spacing for all headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/* Specific spacing for second-level headings (h2) */
h2 {
  margin-top: 2em;
  margin-bottom: 1.2em;
}